# Stage 09 — Homework Starter Notebook

In the lecture, we learned how to create engineered features. Now it’s your turn to apply those ideas to your own project data.

In [9]:
import pandas as pd
import numpy as np

file_path = r"C:\Users\Yvaine\bootcamp_Rui_Han\homework\stage09_Feature-Engineering\data\personal_finance_tracker_dataset.csv"
df = pd.read_csv(file_path)

print("Shape:", df.shape)          # (行数, 列数)
print("\nColumns:\n", df.columns.tolist())
print("\nDtypes:\n", df.dtypes)
print("\nMissing values:\n", df.isnull().sum())

df.head()

Shape: (3000, 24)

Columns:
 ['date', 'user_id', 'monthly_income', 'monthly_expense', 'budget_goal', 'financial_scenario', 'credit_score', 'debt_to_income_ratio', 'loan_payment', 'investment_amount', 'subscription_services', 'emergency_fund', 'transaction_count', 'fraud_flag', 'discretionary_spending', 'essential_spending', 'income_type', 'rent_or_mortgage', 'category', 'cash_flow_status', 'financial_advice_score', 'financial_stress_level', 'actual_savings', 'savings_goal_met']

Dtypes:
 date                       object
user_id                     int64
monthly_income            float64
monthly_expense           float64
budget_goal               float64
financial_scenario         object
credit_score                int64
debt_to_income_ratio      float64
loan_payment              float64
investment_amount         float64
subscription_services       int64
emergency_fund            float64
transaction_count           int64
fraud_flag                  int64
discretionary_spending    float64
essential_spending        float64
income_type                object
rent_or_mortgage          float64
category                   object
cash_flow_status           object
financial_advice_score    float64
financial_stress_level     object
actual_savings            float64
savings_goal_met            int64
dtype: object

Missing values:
 date                      0
user_id                   0
monthly_income            0
monthly_expense           0
budget_goal               0
financial_scenario        0
credit_score              0
debt_to_income_ratio      0
loan_payment              0
investment_amount         0
subscription_services     0
emergency_fund            0
transaction_count         0
fraud_flag                0
discretionary_spending    0
essential_spending        0
income_type               0
rent_or_mortgage          0
category                  0
cash_flow_status          0
financial_advice_score    0
financial_stress_level    0
actual_savings            0
savings_goal_met          0
dtype: int64

,date,user_id,monthly_income,monthly_expense,budget_goal,financial_scenario,credit_score,debt_to_income_ratio,loan_payment,investment_amount,...,discretionary_spending,essential_spending,income_type,rent_or_mortgage,category,cash_flow_status,financial_advice_score,financial_stress_level,actual_savings,savings_goal_met
0,2019/1/1,1584,3119.58,3156.576,3676.11,inflation,721,0.56,125.77,689.22,...,857.55,1910.85,Freelance,1501.65,Investments,Positive,8.3,Low,0.00,0
1,2019/1/31,1045,3262.44,3450.588,2607.17,inflation,670,0.42,454.19,360.34,...,534.51,3165.20,Salary,1603.17,Investments,Positive,22.6,Low,0.00,0
2,2019/3/2,1756,2931.20,3092.952,3004.14,inflation,691,0.24,971.82,0.00,...,353.67,1504.56,Freelance,1097.82,Healthcare,Positive,58.8,Low,0.00,0
3,2019/4/1,1724,3506.79,3035.110,3346.97,normal,717,0.16,482.76,182.06,...,594.08,1450.72,Freelance,1155.64,Groceries,Positive,74.5,Low,1179.20,0
4,2019/5/1,1600,4606.87,3637.154,2670.09,inflation,795,0.25,263.74,342.78,...,556.86,1000.00,Salary,1170.86,Utilities,Negative,38.7,High,2424.29,0

## TODO: Implement at least 2 engineered features here

In [10]:
df['saving_rate'] = (df['monthly_income']-df['monthly_expense'])/df['monthly_income']

Rationale: "Compute the monthly saving-to-income ratio to gauge students’ saving habits."

### Rationale for Feature 1
Explain why this feature may help a model. Reference your EDA.

In [11]:
df['rolling_expense_mean'] = df['monthly_expense'].rolling(3).mean()

### Rationale for Feature 2
Investigate the trend in spending changes over three months.